<h3>Csv Input</h3>

In [42]:
import pandas as pd
import numpy as np

mrkt_df = pd.read_csv('C:\\Users\\piked\\Documents\\Ffxiv Outputs\\Ffxiv Scripts\\Output Csv\\Hi_Mrkt_Vel v2.csv') \
    .groupby(['Item_Id', 'Name', 'GatheringType', 'World', 'Reg_Sale_Vel', 'NQ_Sale_Vel', 'HQ_Sale_Vel', 'Composite_Score', 'Total_Purchases', 'Avg_Unit_Price', 'RN', 'Buyer', 'Avg_Qty', 'Unit_Price', 'Qty', 'Overall_Cost', 'Outlier', 'HQ_Ind', 'Timestamp'], as_index=False) \
    .agg(GatheringLevel=pd.NamedAgg(column='GatheringLevel', aggfunc='min'))[['Item_Id', 'Name', 'GatheringType', 'GatheringLevel', 'World', 'Reg_Sale_Vel', 'NQ_Sale_Vel', 'HQ_Sale_Vel', 'Composite_Score', 'Total_Purchases', 'Avg_Unit_Price', 'RN', 'Buyer', 'Avg_Qty', 'Unit_Price', 'Qty', 'Overall_Cost', 'Outlier', 'HQ_Ind', 'Timestamp']]
# Convert to nullable float type
mrkt_df['GatheringLevel'] = mrkt_df['GatheringLevel'].apply(lambda x: int(x) if pd.notna(x) else x).astype('Int64')

print(f" Data Between: {mrkt_df['Timestamp'].min()}  - {mrkt_df['Timestamp'].max()}")
display(mrkt_df)

 Data Between: 2024/06/01 00:12:39  - 2024/07/03 22:20:02

,Item_Id,Name,GatheringType,GatheringLevel,World,Reg_Sale_Vel,NQ_Sale_Vel,HQ_Sale_Vel,Composite_Score,Total_Purchases,Avg_Unit_Price,RN,Buyer,Avg_Qty,Unit_Price,Qty,Overall_Cost,Outlier,HQ_Ind,Timestamp
0,2,Fire Shard,Harvesting,15,Brynhildr,26324.812000,26324.812000,0.0,1.5,753,76.557769,1,Adrielle Morrigan,1150.863214,120,1000,120000,False,False,2024/06/25 23:47:29
1,2,Fire Shard,Harvesting,15,Brynhildr,26324.812000,26324.812000,0.0,1.5,753,76.557769,2,Adrielle Morrigan,1150.863214,92,2000,184000,False,False,2024/06/25 23:47:09
2,2,Fire Shard,Harvesting,15,Brynhildr,26324.812000,26324.812000,0.0,1.5,753,76.557769,3,Adrielle Morrigan,1150.863214,92,2000,184000,False,False,2024/06/25 23:47:07
3,2,Fire Shard,Harvesting,15,Brynhildr,26324.812000,26324.812000,0.0,1.5,753,76.557769,4,Adrielle Morrigan,1150.863214,92,2000,184000,False,False,2024/06/25 23:47:06
4,2,Fire Shard,Harvesting,15,Brynhildr,26324.812000,26324.812000,0.0,1.5,753,76.557769,5,Adrielle Morrigan,1150.863214,92,2000,184000,False,False,2024/06/25 23:46:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441946,44106,Rroneek Chuck,Not Gathered,<NA>,Brynhildr,11.786323,11.786323,0.0,1.5,19,1250.315789,15,Eksu Plosion,20.421053,999,6,5994,False,False,2024/07/03 10:09:19
441947,44106,Rroneek Chuck,Not Gathered,<NA>,Brynhildr,11.786323,11.786323,0.0,1.5,19,1250.315789,16,Eksu Plosion,20.421053,998,19,18962,False,False,2024/07/03 10:09:17
441948,44106,Rroneek Chuck,Not Gathered,<NA>,Brynhildr,11.786323,11.786323,0.0,1.5,19,1250.315789,17,Eksu Plosion,20.421053,998,20,19960,False,False,2024/07/03 10:09:16
441949,44106,Rroneek Chuck,Not Gathered,<NA>,Brynhildr,11.786323,11.786323,0.0,1.5,19,1250.315789,18,Eksu Plosion,20.421053,998,20,19960,False,False,2024/07/03 10:09:15
441950,44106,Rroneek Chuck,Not Gathered,<NA>,Brynhildr,11.786323,11.786323,0.0,1.5,19,1250.315789,19,Eksu Plosion,20.421053,998,20,19960,False,False,2024/07/03 10:09:13

<h3>Gathering Analysis</h3>

In [89]:
import pandas as pd
import numpy as np
import ipywidgets as widgets
from IPython.display import display, Markdown

# Varables to Change Pivots
startLevel = 1
endLevel = 100
GatheringType = 'all'

# Boolean to change pivot based on gathering type
if GatheringType == 'all':
    gathMrkt_df =  mrkt_df[(mrkt_df['Outlier'] != True) & (~mrkt_df['GatheringType'].isin(['Not Gathered','●銛'])) & (mrkt_df['GatheringLevel'] >= startLevel) & (mrkt_df['GatheringLevel'] <= endLevel)]
else:
    gathMrkt_df =  mrkt_df[(mrkt_df['Outlier'] != True) & (~mrkt_df['GatheringType'].isin(['Not Gathered','●銛'])) & (mrkt_df['GatheringLevel'] >= startLevel) & (mrkt_df['GatheringLevel'] <= endLevel) & (mrkt_df['GatheringType'] == GatheringType)]

# Totals Pivot
GathTtlPivot = gathMrkt_df.pivot_table(
    index=['GatheringType'],
    values=['Buyer','Overall_Cost', 'Reg_Sale_Vel'],
    aggfunc={'Buyer': 'count','Overall_Cost': 'sum', 'Reg_Sale_Vel': lambda x: round(x.mean(), 2)}) \
        .rename(columns={'Buyer': 'Total Transactions','Overall_Cost' : 'Total Profitability','Reg_Sale_Vel' : 'Avg. Reg Sale Vel'})
GathTtlPivot['Total Profitability'] = GathTtlPivot['Total Profitability'].apply(lambda x: f"${x:,.2f}")
# Reset the index for a flat table format
GathTtlPivot.reset_index(inplace=True)
GathTtlPivot = GathTtlPivot.rename(columns={'GatheringType' : 'Gathering Type'})

# By Gathering Level Pivot
GathLvlPivot = gathMrkt_df.pivot_table(
    index=['GatheringType', 'GatheringLevel'],
    values=['Buyer','Overall_Cost', 'Reg_Sale_Vel'],
    aggfunc={'Buyer': 'count','Overall_Cost': 'sum', 'Reg_Sale_Vel': lambda x: round(x.mean(), 2)}) \
        .rename(columns={'Buyer': 'Total Transactions','Overall_Cost' : 'Total Profitability','Reg_Sale_Vel' : 'Avg. Reg Sale Vel'})
GathLvlPivot['Total Profitability'] = GathLvlPivot['Total Profitability'].apply(lambda x: f"${x:,.2f}")
# Reset the index for a flat table format
GathLvlPivot.reset_index(inplace=True)
GathLvlPivot = GathLvlPivot.rename(columns={'GatheringType' : 'Gathering Type','GatheringLevel' : 'Level'})

GathItem = gathMrkt_df[['Item_Id', 'Name', 'GatheringType', 'GatheringLevel', 'Total_Purchases', 'Avg_Unit_Price', 'Avg_Qty', 'Overall_Cost', 'Reg_Sale_Vel']].copy()
GathItem['Total Profitability'] = GathItem.groupby('Item_Id')['Overall_Cost'].transform('sum').apply(lambda x: f"${x:,.2f}")
GathItem = GathItem[['Item_Id', 'Name', 'GatheringType', 'GatheringLevel', 'Total_Purchases', 'Avg_Unit_Price', 'Avg_Qty', 'Total Profitability', 'Reg_Sale_Vel']].drop_duplicates()

display(Markdown(f"# 2 Week Profitability by Gathering Type (Levels: {startLevel} - {endLevel})"))
display(GathTtlPivot)
display(Markdown(f"# 2 Week Profitability by Gathering Type & Level (Levels: {startLevel} - {endLevel})"))
display(GathLvlPivot)
display(Markdown(f"# 2 Week Profitability Granular (Levels: {startLevel} - {endLevel})"))
display(GathItem)

# 2 Week Profitability by Gathering Type (Levels: 1 - 100)

  Gathering Type  Total Transactions Total Profitability  Avg. Reg Sale Vel
0        Fishing                3172      $27,806,989.00              31.15
1     Harvesting               28739   $1,038,499,349.00            7774.47
2        Logging               28124   $1,188,900,420.00            8390.74
3         Mining               32448   $1,127,262,443.00            7343.40
4      Quarrying               26024   $1,174,752,188.00            9176.71

# 2 Week Profitability by Gathering Type & Level (Levels: 1 - 100)

,Gathering Type,Level,Total Transactions,Total Profitability,Avg. Reg Sale Vel
0,Fishing,1,490,"$1,181,314.00",38.46
1,Fishing,5,139,"$1,123,385.00",18.29
2,Fishing,10,200,"$527,682.00",20.46
3,Fishing,15,93,"$494,363.00",13.88
4,Fishing,20,172,"$740,501.00",21.53
...,...,...,...,...,...
93,Quarrying,80,590,"$5,137,178.00",156.55
94,Quarrying,85,3203,"$31,887,604.00",887.44
95,Quarrying,90,3903,"$39,197,083.00",822.08
96,Quarrying,95,20,"$866,104.00",15.40
97,Quarrying,100,2030,"$218,887,795.00",29085.21

# 2 Week Profitability Granular (Levels: 1 - 100)

,Item_Id,Name,GatheringType,GatheringLevel,Total_Purchases,Avg_Unit_Price,Avg_Qty,Total Profitability,Reg_Sale_Vel
0,2,Fire Shard,Harvesting,15,753,76.557769,1150.863214,"$259,758,384.00",26324.812000
753,2,Fire Shard,Logging,30,753,76.557769,1150.863214,"$259,758,384.00",26324.812000
1506,2,Fire Shard,Mining,20,753,76.557769,1150.863214,"$259,758,384.00",26324.812000
2259,2,Fire Shard,Quarrying,20,753,76.557769,1150.863214,"$259,758,384.00",26324.812000
3012,3,Ice Shard,Harvesting,20,551,82.698730,1262.611615,"$214,505,144.00",21133.332000
...,...,...,...,...,...,...,...,...,...
440854,44025,Mountain Flax,Harvesting,95,41,1623.878049,24.073171,"$1,975,327.00",29.982218
440895,44026,Sarcenet,Harvesting,100,21,1273.047619,63.428571,"$1,711,994.00",40.462322
440916,44028,Levinsilk,Harvesting,100,20,1735.250000,71.450000,"$2,454,905.00",43.408905
441077,44034,Yak T'el Spring Water,Mining,100,20,2714.750000,22.100000,"$1,175,699.00",13.426687
441097,44052,Acacia Bark,Logging,100,20,8454.450000,26.000000,"$4,549,751.00",15.796103